@model StarWarsAPI.Models.ViewModels.PlanetViewModel
<div>
    <h1>Name: @Model.name</h1>
    <h1>Rotation Period: @Model.rotation_period</h1>
    <h1>Orbital Period: @Model.orbital_period</h1>
    <h1>Diameter: @Model.diameter</h1>
    <h1>Climate: @Model.climate</h1>
    <h1>Gravity: @Model.gravity</h1>
    <h1>Terrian: @Model.terrain</h1>
    <h1>Surface Water: @Model.surface_water</h1>
    <h1>Population: @Model.population</h1>

</div>
